* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 700px;
  margin: 0 auto;
  background: #f2edd2;
  margin-top: 45px;

}

.mainTitle {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: mediumpurple;
  margin: 0;
  padding: 30px 10px;
  font-weight: 800;
  font-size: 36px;
}

.tasks {
  border: 1px solid sandybrown;
  border-top: none;
}


.panel {
  padding: 20px 15px;
  font-size: 20px;
}

.todo-edit-form {
  padding: 0px 15px;
}

.taskField {
  height: 41px;
  padding: 0px 20px;
  font-size: 20px;
  width: 84%;
  background: #fff;

  display: inline-block;
  border: 1px solid sandybrown;
}

.taskField-save {
  border-color: mediumpurple;
  margin: 20px 0px;
}

.btn {
  display: inline-block;
  width: 15%;
  font-size: 20px;
  padding: 9px 15px;
  background: forestgreen;
  color: #ffffff;
  border: none;
  margin-left: 1%;
  cursor: pointer;
}

.btn-edit {
  background: lightseagreen;
}

.btn-delete {
  background: lightcoral;
}

.btn-add {
  background: sandybrown;
}

.btn-save{
  background: mediumpurple;
}

.task {
  padding: 10px 15px;
  color: darkgreen;
  font-size: 21px;

}


.task-text {
  display: inline-block;
  width: 66%;
  margin-left: 2%;
}

